.header_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_container {
  width: 1440px;
  height: 110px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}