.header_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}

.header_container {
  width: 1440px;
  height: 110px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 605px auto;
  padding-right: 2.08%;
  padding-left: 14.5%;
  justify-content: space-between;

  @media (max-width: 1200px) {
    width: 1200px;
    grid-template-columns: 1fr 505px auto;
    padding-left: 8%;
  }
  @media (max-width: 986px) {
    width: 100%;
    grid-template-columns: 1fr 450px auto;
    padding: 0 0 0 3%;
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 70px;
    grid-template-columns: 1fr;
    padding: 1% 0 0 3%;
  }
  @media (max-width: 480px) {
    padding: 3%;
  }
}