
//colorText

$maimTextColor: white;


//colorBtn
$btnText: #D1201F;
$btnBackgroundHover: white;
$btnBackgroundColor: #D1201F;

//sideBar
$textHover: #D1201F;
$backGround: white;
$textColor: #111111;
