.language{
    display: flex;
    align-items: center;
    color: white;

    @media(max-width:986px){
        margin-right: 15px;
    }

    @media(max-width:768px){
       display: none;
    }
}

.mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;

}
.nav_lang {
    color: white;
}

