.logo_container {
  height: 99px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  @media(min-width: 320px) and (max-width: 768px) {
    height: 80px;
    padding-bottom: 3px;
  }
}

.navbar_logo {
  cursor: pointer;
  background: transparent;
}

.navbar_logo_pic {
  width: 76px;
  height: 99px;

  @media (max-width: 1440px) {
    width: 67px;
    height: 90px;
  }
  @media (max-width: 1200px) {
    width: 60px;
    height: 85px;
  }

  @media (max-width: 768px) {
    width: 76px;
    height: 80px;
  }

  @media (max-width: 480px) {
    width: 39px;
    height: 50px;
    margin-right: 12px;
  }

}


.navbar_logo_name {
  background: transparent;
  width: 250px;
  height: 30px;

  @media (max-width: 1440px) {
    width: 230px;
    height: 25px;
  }
  @media (max-width: 1200px) {
    width: 190px;
    height: 23px;
  }

  @media (max-width: 986px) {
    width: 130px;
    height: 20px;
  }
  @media (max-width: 768px) {
    width: 150px;
    height: 23px;
  }

  @media (max-width: 480px) {
    width: 125px;
    height: 16px;
  }
}